body, html{
  position: relative;
  height: 100%;
  background-color: #0BD3B7;
  z-index: 0;
}
#background{
  position: relative;
  z-index:-1000;
  background-color: #0BD3B7;
  background-repeat: no-repeat;
background-size:cover;
height: 100%;
}

#name{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1000;
}
#backImage{
  filter: blur(20px) saturate(.8);
  position: absolute;
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  border: solid black 50px;
}

#app{
  position: relative;
  top: 5%;
  background-color: #1f1f1f;
  height: 90%;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: gray 0px 5px 12px 3px;
  z-index: 3;
}

#top{
  border-radius: 3px 3px 0px 0px;
  background-color: white;
  width: 100%;
  height: 23%;
}

h3, h2{
  color: black;
  font-size: 7pt;
  font-family: Helvetica;
  font-weight: 100;
  margin: 2px;
}

h2{
  font-weight: 600;
}
h3{
  color: gray;
}

#titles{
  z-index: 1000;
  margin-left: auto;
}

#mainImage{
  position: absolute;
  height: 15%;
  width: 25%;;
  z-index: 1;
  padding: 10px;
  filter: saturate(0.7);

}


#titles{
  text-align: center;
  position: absolute;
  text-align: left;
  left: 30%;
  top: 3%;
  z-index: 2000;
}

#controls{
  position: absolute;
  left: 30%;
  top: 90%;
}

li{
  margin-top: 4px;
  background-color: rgb(55,52,52);
  width: 95%;
  height: 8%;
  color: white;
  font-family: Helvetica;
  font-size: 8pt;
  margin-left: 0px;
  padding: 5px;
}



ul {
  position: absolute;
  text-align: left;
  width: 22%;
  height: 50%;
  left: 35.5%;
  top: 27%;
  list-style-type: none;
  background-color: transparent;
  z-index: -4;
  overflow-y: scroll;
  overflow-x: hidden;

}

#audio-canvas{
  position: absolute;
  top: 73.5px;
  left: 10px;
}


.functions{
  margin: 2px;
}

#pause.functions{
  position: absolute;
  right:33%;
  display: none;
}


ul::-webkit-scrollbar {
    width: .5em;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #1f1f1f;
}
